<a href="https://colab.research.google.com/github/MonishSoundarRaj/colab_files_1/blob/main/sc_timeperiod_script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("slurm-log.csv")
df.head(50)

,id_job,id_array_job,id_array_task,id_user,kill_requid,nodes_alloc,nodelist,cpus_req,derived_ec,exit_code,...,timelimit,time_submit,time_eligible,time_start,time_end,time_suspended,track_steps,tres_alloc,tres_req,job_type
0,82691694838059,38873353215144,2504,42770088536256,61026541062099,1,['r9189566-n911952'],20,0,0,...,4294967295,1609535703,1609535704,1609806297,1609806605,0,0,"1=20,2=170000,4=1,5=20","1=20,2=170000,4=1,5=20",OTHER
1,3434806870797,38873353215144,2523,42770088536256,61026541062099,1,['r9189566-n911952'],20,0,0,...,4294967295,1609535703,1609535704,1609806607,1609807004,0,0,"1=20,2=170000,4=1,5=20","1=20,2=170000,4=1,5=20",OTHER
2,8370846758272,38873353215144,2543,42770088536256,61026541062099,1,['r9189566-n911952'],20,0,0,...,4294967295,1609535703,1609535704,1609807004,1609807331,0,0,"1=20,2=170000,4=1,5=20","1=20,2=170000,4=1,5=20",OTHER
3,50552783599355,16618712154521,4294967294,28063009141185,61026541062099,1,['r2100214-n851693'],1,9,35072,...,1440,1609807695,1609807695,1609807695,1609811546,0,0,"1=40,2=340000,4=1,5=40","1=1,2=8500,4=1,5=1",LLSUB:INTERACTIVE
4,16051179268048,74939912707152,2625,42770088536256,61026541062099,1,['r9189566-n911952'],20,0,0,...,4294967295,1609535912,1609535912,1609808470,1609808777,0,0,"1=20,2=170000,4=1,5=20","1=20,2=170000,4=1,5=20",OTHER
5,26940411750496,16618712154521,4294967294,78105663882022,61026541062099,1,['r9535192-n386398'],1,0,33280,...,1440,1609808481,1609808481,1609808481,1609818623,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",LLSUB:INTERACTIVE
6,26419036762941,84173100828392,0,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
7,84007780551106,84173100828392,1,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
8,18898577480687,84173100828392,2,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
9,16601813966475,84173100828392,3,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
10,38979333375258,84173100828392,4,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
11,35329673115911,84173100828392,5,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
12,24861103430782,84173100828392,6,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
13,89917457527500,84173100828392,7,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
14,22227065495757,84173100828392,8,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
15,22703175825549,84173100828392,9,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
16,60208213976003,84173100828392,10,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
17,55825520953102,84173100828392,11,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
18,63703564518413,84173100828392,12,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
19,75573427786572,84173100828392,13,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
20,9079523258727,84173100828392,14,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
21,31312733031958,84173100828392,15,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
22,48977573418154,84173100828392,16,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
23,13680221477949,84173100828392,17,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
24,42776349853089,84173100828392,18,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
25,59514801981733,84173100828392,19,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
26,52673869784150,84173100828392,20,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
27,86860922857775,84173100828392,21,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
28,63528880974254,84173100828392,22,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
29,41578450782219,84173100828392,23,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
30,86497456968041,84173100828392,24,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
31,39309398235720,84173100828392,25,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
32,14976636624482,84173100828392,26,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
33,44196821933670,84173100828392,27,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
34,62386426572358,84173100828392,28,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
35,56913130080997,84173100828392,29,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
36,52440599356079,84173100828392,30,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
37,73339570563793,84173100828392,31,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609816305,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
38,45482482462232,84173100828392,32,11289836447956,61026541062099,1,['r9175025-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809423,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
39,24861677659578,84173100828392,33,11289836447956,61026541062099,1,['r9175025-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809423,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
40,45317085557010,84173100828392,34,11289836447956,61026541062099,1,['r9175025-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809423,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
41,3629250344489,84173100828392,35,11289836447956,61026541062099,1,['r5573787-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809430,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
42,37792202002731,84173100828392,36,11289836447956,61026541062099,1,['r5573787-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809430,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
43,56874316903512,84173100828392,37,11289836447956,61026541062099,1,['r5573787-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809648,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
44,59752116139592,84173100828392,38,11289836447956,61026541062099,1,['r5573787-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809430,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
45,88979735262725,84173100828392,39,11289836447956,61026541062099,1,['r5573787-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809430,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
46,76511932238351,84173100828392,40,11289836447956,61026541062099,1,['r5573787-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809430,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
47,74819301041269,84173100828392,41,11289836447956,61026541062099,1,['r5573787-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809430,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
48,12413763951676,84173100828392,42,11289836447956,61026541062099,1,['r9720335-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809423,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
49,54357333390450,84173100828392,43,11289836447956,61026541062099,1,['r9720335-n386398'],1,0,0,...,4294967295,1609809099,1609809100,1609809100,1609809423,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER

In [5]:
(df["id_job"]>0).sum()

395914

In [6]:
df.columns

Index(['id_job', 'id_array_job', 'id_array_task', 'id_user', 'kill_requid',
       'nodes_alloc', 'nodelist', 'cpus_req', 'derived_ec', 'exit_code',
       'gres_used', 'array_max_tasks', 'array_task_pending', 'constraints',
       'flags', 'mem_req', 'partition', 'priority', 'state', 'timelimit',
       'time_submit', 'time_eligible', 'time_start', 'time_end',
       'time_suspended', 'track_steps', 'tres_alloc', 'tres_req', 'job_type'],
      dtype='object')

In [7]:
from datetime import datetime

def convert_unix_to_datetime(unix_timestamp):
    dt_object = datetime.utcfromtimestamp(unix_timestamp)

    return dt_object.strftime('%Y-%m-%d %H:%M:%S')

df["time_submit"] = df["time_submit"].apply(convert_unix_to_datetime)

In [8]:
df.head(10)

,id_job,id_array_job,id_array_task,id_user,kill_requid,nodes_alloc,nodelist,cpus_req,derived_ec,exit_code,...,timelimit,time_submit,time_eligible,time_start,time_end,time_suspended,track_steps,tres_alloc,tres_req,job_type
0,82691694838059,38873353215144,2504,42770088536256,61026541062099,1,['r9189566-n911952'],20,0,0,...,4294967295,2021-01-01 21:15:03,1609535704,1609806297,1609806605,0,0,"1=20,2=170000,4=1,5=20","1=20,2=170000,4=1,5=20",OTHER
1,3434806870797,38873353215144,2523,42770088536256,61026541062099,1,['r9189566-n911952'],20,0,0,...,4294967295,2021-01-01 21:15:03,1609535704,1609806607,1609807004,0,0,"1=20,2=170000,4=1,5=20","1=20,2=170000,4=1,5=20",OTHER
2,8370846758272,38873353215144,2543,42770088536256,61026541062099,1,['r9189566-n911952'],20,0,0,...,4294967295,2021-01-01 21:15:03,1609535704,1609807004,1609807331,0,0,"1=20,2=170000,4=1,5=20","1=20,2=170000,4=1,5=20",OTHER
3,50552783599355,16618712154521,4294967294,28063009141185,61026541062099,1,['r2100214-n851693'],1,9,35072,...,1440,2021-01-05 00:48:15,1609807695,1609807695,1609811546,0,0,"1=40,2=340000,4=1,5=40","1=1,2=8500,4=1,5=1",LLSUB:INTERACTIVE
4,16051179268048,74939912707152,2625,42770088536256,61026541062099,1,['r9189566-n911952'],20,0,0,...,4294967295,2021-01-01 21:18:32,1609535912,1609808470,1609808777,0,0,"1=20,2=170000,4=1,5=20","1=20,2=170000,4=1,5=20",OTHER
5,26940411750496,16618712154521,4294967294,78105663882022,61026541062099,1,['r9535192-n386398'],1,0,33280,...,1440,2021-01-05 01:01:21,1609808481,1609808481,1609818623,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",LLSUB:INTERACTIVE
6,26419036762941,84173100828392,0,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,2021-01-05 01:11:39,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
7,84007780551106,84173100828392,1,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,2021-01-05 01:11:39,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
8,18898577480687,84173100828392,2,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,2021-01-05 01:11:39,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER
9,16601813966475,84173100828392,3,11289836447956,61026541062099,1,['r9535192-n386398'],1,0,0,...,4294967295,2021-01-05 01:11:39,1609809100,1609809100,1609809460,0,0,"1=1,2=8500,4=1,5=1","1=1,2=8500,4=1,5=1",OTHER

In [10]:
df["time_submit"].min()

'2021-01-01 21:15:03'

In [11]:
df["time_submit"].max()

'2021-10-01 14:58:01'

In [12]:
df.tail()

,id_job,id_array_job,id_array_task,id_user,kill_requid,nodes_alloc,nodelist,cpus_req,derived_ec,exit_code,...,timelimit,time_submit,time_eligible,time_start,time_end,time_suspended,track_steps,tres_alloc,tres_req,job_type
395909,32038172524356,67754413936006,133,11051103666595,61026541062099,1,['r697496-n325382'],1,0,0,...,4294967295,2021-10-01 14:58:01,1633100281,1633100418,1633100800,0,0,"1=1,2=51200,4=1,5=1","1=1,2=51200,4=1,5=1",LLSUB:BATCH
395910,70062821387698,67754413936006,203,11051103666595,61026541062099,1,['r1018283-n680758'],1,0,0,...,4294967295,2021-10-01 14:58:01,1633100281,1633100516,1633101131,0,0,"1=1,2=51200,4=1,5=1","1=1,2=51200,4=1,5=1",LLSUB:BATCH
395911,39278200520145,67754413936006,218,11051103666595,61026541062099,1,['r629115-n325382'],1,0,0,...,4294967295,2021-10-01 14:58:01,1633100281,1633100533,1633100958,0,0,"1=1,2=51200,4=1,5=1","1=1,2=51200,4=1,5=1",LLSUB:BATCH
395912,20365469379943,67754413936006,270,11051103666595,61026541062099,1,['r1018283-n680758'],1,0,0,...,4294967295,2021-10-01 14:58:01,1633100281,1633100603,1633101087,0,0,"1=1,2=51200,4=1,5=1","1=1,2=51200,4=1,5=1",LLSUB:BATCH
395913,70535025316763,67754413936006,280,11051103666595,61026541062099,1,['r406820-n680758'],1,0,0,...,4294967295,2021-10-01 14:58:01,1633100281,1633100615,1633100961,0,0,"1=1,2=51200,4=1,5=1","1=1,2=51200,4=1,5=1",LLSUB:BATCH

In [13]:
df["time_end"] = df["time_end"].apply(convert_unix_to_datetime)
df.head()

,id_job,id_array_job,id_array_task,id_user,kill_requid,nodes_alloc,nodelist,cpus_req,derived_ec,exit_code,...,timelimit,time_submit,time_eligible,time_start,time_end,time_suspended,track_steps,tres_alloc,tres_req,job_type
0,82691694838059,38873353215144,2504,42770088536256,61026541062099,1,['r9189566-n911952'],20,0,0,...,4294967295,2021-01-01 21:15:03,1609535704,1609806297,2021-01-05 00:30:05,0,0,"1=20,2=170000,4=1,5=20","1=20,2=170000,4=1,5=20",OTHER
1,3434806870797,38873353215144,2523,42770088536256,61026541062099,1,['r9189566-n911952'],20,0,0,...,4294967295,2021-01-01 21:15:03,1609535704,1609806607,2021-01-05 00:36:44,0,0,"1=20,2=170000,4=1,5=20","1=20,2=170000,4=1,5=20",OTHER
2,8370846758272,38873353215144,2543,42770088536256,61026541062099,1,['r9189566-n911952'],20,0,0,...,4294967295,2021-01-01 21:15:03,1609535704,1609807004,2021-01-05 00:42:11,0,0,"1=20,2=170000,4=1,5=20","1=20,2=170000,4=1,5=20",OTHER
3,50552783599355,16618712154521,4294967294,28063009141185,61026541062099,1,['r2100214-n851693'],1,9,35072,...,1440,2021-01-05 00:48:15,1609807695,1609807695,2021-01-05 01:52:26,0,0,"1=40,2=340000,4=1,5=40","1=1,2=8500,4=1,5=1",LLSUB:INTERACTIVE
4,16051179268048,74939912707152,2625,42770088536256,61026541062099,1,['r9189566-n911952'],20,0,0,...,4294967295,2021-01-01 21:18:32,1609535912,1609808470,2021-01-05 01:06:17,0,0,"1=20,2=170000,4=1,5=20","1=20,2=170000,4=1,5=20",OTHER

In [15]:
df.tail()

,id_job,id_array_job,id_array_task,id_user,kill_requid,nodes_alloc,nodelist,cpus_req,derived_ec,exit_code,...,timelimit,time_submit,time_eligible,time_start,time_end,time_suspended,track_steps,tres_alloc,tres_req,job_type
395909,32038172524356,67754413936006,133,11051103666595,61026541062099,1,['r697496-n325382'],1,0,0,...,4294967295,2021-10-01 14:58:01,1633100281,1633100418,2021-10-01 15:06:40,0,0,"1=1,2=51200,4=1,5=1","1=1,2=51200,4=1,5=1",LLSUB:BATCH
395910,70062821387698,67754413936006,203,11051103666595,61026541062099,1,['r1018283-n680758'],1,0,0,...,4294967295,2021-10-01 14:58:01,1633100281,1633100516,2021-10-01 15:12:11,0,0,"1=1,2=51200,4=1,5=1","1=1,2=51200,4=1,5=1",LLSUB:BATCH
395911,39278200520145,67754413936006,218,11051103666595,61026541062099,1,['r629115-n325382'],1,0,0,...,4294967295,2021-10-01 14:58:01,1633100281,1633100533,2021-10-01 15:09:18,0,0,"1=1,2=51200,4=1,5=1","1=1,2=51200,4=1,5=1",LLSUB:BATCH
395912,20365469379943,67754413936006,270,11051103666595,61026541062099,1,['r1018283-n680758'],1,0,0,...,4294967295,2021-10-01 14:58:01,1633100281,1633100603,2021-10-01 15:11:27,0,0,"1=1,2=51200,4=1,5=1","1=1,2=51200,4=1,5=1",LLSUB:BATCH
395913,70535025316763,67754413936006,280,11051103666595,61026541062099,1,['r406820-n680758'],1,0,0,...,4294967295,2021-10-01 14:58:01,1633100281,1633100615,2021-10-01 15:09:21,0,0,"1=1,2=51200,4=1,5=1","1=1,2=51200,4=1,5=1",LLSUB:BATCH